body.template-folderview.section-notheme div.width-3\:4{
    width: 79.25%;
}

/*   RIGHT PORTLET   */


#portal-columns div.width-1\:2 {
    width: 57.75%;
}


/*   CONTENT   */

/*   news and event   */

.bloc-item{
    width: 22.8%;
}


/*   MINI SITE   */

.in-minisite-out-portal .bloc-item,
.in-minisite-in-portal .bloc-item{
    width: 21.8%;
}